<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="vpchc.prohealth">

<uses-permission android:name="android.permission.CALL_PHONE" />

<application>
    <activity android:name=".MainActivity" android:allowBackup="true" android:icon="@drawable/logo"
        android:label="@string/app_name" android:screenOrientation="portrait" android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
    <activity android:name=".ProvidersActivity" android:screenOrientation="portrait" android:label="@string/title_activity_providers"
        android:theme="@style/AppTheme.NoActionBar" />
    <activity android:name=".ProgramsActivity" android:screenOrientation="portrait" android:label="@string/title_activity_programs"
        android:theme="@style/AppTheme.NoActionBar" />
    <activity android:name=".LocationsActivity" android:screenOrientation="portrait" android:label="@string/title_activity_locations"
        android:theme="@style/AppTheme.NoActionBar" />
    <activity android:name=".FormsActivity" android:label="@string/title_activity_forms"
        android:icon="@drawable/forms_logo" android:theme="@style/AppTheme.NoActionBar" />
    <activity android:name=".JobsActivity" android:label="@string/title_activity_jobs" android:theme="@style/AppTheme.NoActionBar" />
</application>

</manifest>


